<template name="productList">
    {{#each products}}
      {{> productRow }}
    {{/each}}
</template>

<template name="productRow">
  <div class="row">
  {{#each row }}
    {{> productView}}
  {{/each}}
  </div>
</template>

<template name="productView">
  <div class="col-sm-4 text-center">
    <div class="thumbnail">
      <a href="#">
        <img src="{{this.imagePath}}" alt="{{this.imgAlt}}" class="link-p" />
      </a>
      <div class="caption prod-caption">
        <h4><a href="#">{{this.header}}</a></h4>
        <p>{{this.description}}</p>
        <p></p>
        <div class="btn-group">
          <a href="#" class="btn btn-default">$ {{this.price}}.00</a>
          <a href="#" class="btn btn-primary"><i class="fa fa-shopping-cart"></i> Buy</a>
          {{#if isInRole 'admin'}}
            <a href="#" class="btn btn-warning"><i class="fa fa-edit"></i> Edit</a>
            <a href="#" class="btn btn-danger"><i class="fa fa-trash"></i> Delete</a>
          {{/if}}
        </div>
        <p></p>
      </div>
    </div>
  </div>
</template>